        .itim-regular {
            font-family: "Itim", cursive;
            font-weight: 400;
            font-style: normal;
        }

        body {
            background-color: rgb(193, 159, 224);
        }

        .header-text {
            text-align: center;
            color: aliceblue;
        }

        .header-container {
            margin-top: 1%;
            background-color: rgb(228, 188, 247);
            padding: 1%;
            border-radius: 2%;
            width: 30%;
            font-size: 25px;
        }

        .flex-header {
            display: flex;
            justify-content: center;
        }

        .img-container {
            margin-top: 2%;
        }

        .nav-menu-container {
            background-color: rgb(249, 246, 252);
            margin-top: 2%;
            margin-bottom: 1%;
            padding: 1%;
            border-radius: 3%;
        }

        .nav-menu-item {
            margin-left: 1%;
            margin-right: 1%;
            text-decoration: none;
            color: rgb(159, 111, 204);
            font-size: 25px;
        }